body{
	background-color:#eef;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.underwest {
	color: crimson;
	font-family: 'Bangers', cursive;
	font-size: 450%;
	margin: 30px;
}

.doughnut {
	color: salmon;
	font-family: 'Pacifico', cursive;
	font-size: 400%;
	margin: 7px;
	text-align:left;
}

.cake {
	color: aquamarine;
	font-family: 'Pacifico', cursive;
	font-size: 400%;
	margin: 0px 8px;
	text-align:left;
}


.here {
	color: gray;
	font-family: 'Kalam', cursive;
	font-size: 115%;
	margin: 10px;
	text-align:left;
}

#ok{
	border-radius: 50%;
	border: 16px solid white;
	margin: 0px;
}

table{
	padding: 10px;
}

th{
	text-align:center;
}
td {
	text-align: left;
	font-size: 85%;
	padding: 5px;
}


#box{
	display:inline-block;
	margin:3px 30px;
	font-size: 90%;
	font-style:italic;
}

a{
	color:darkgray;
}
a:link{
	text-decoration:none;
}


div.desc{
	padding: 5px;
	text-align:center;
}

div.pic{
	float:left;
	margin: 5px;
	width: 25%;
}

div.pic img{
	width: 100%;
	height: auto;
}

div.pic:hover{
	border: 10px solid white;
	width: 40%;
}

.comfortwriting{
	font-family: 'Caveat Brush', cursive;
	font-size:100%;
	color:darkslategrey;
}

#back{
	text-align:center;
	padding:25px 100px;
	clear:both;
	font-size:140%;
	font-style:italic;
	font-family: 'Oswald', sans-serif;
}

p{
	background-color:white;
	margin: 20px;
	padding: 4px;
}
